@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html{
    font-size: 62.5%;

}

a {
    text-decoration: none;
    font-size: 2.4rem;
}

a:hover:after {
    border-bottom: 2px solid white;
    transition: 0.3s;
}

li {
    list-style: none;
}

.main-nav {
    width: 100%;
    height: 10rem;
    margin: 0;
    padding: 0;
    background-color: #3c52ad;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}

.nav-links {
    grid-column: 3/4;
}

.nav-links ul {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links ul li {
    font-size: 1.8rem;
}

.nav-links ul li a {
    color: white;
}

.nav-links ul li:hover {
    font-weight: bold;
}

.nav-links ul li a.active {
    border-bottom: 2px solid white;
}

.logo {
    display: grid;
    grid-column: 2/3;
    justify-content: flex-start;
    align-items: center;
}

.logo h2 {
    font-size: 15px;
    font-weight: 300;
    color: white;
}

.logo h2 span {
    font-size: 3.5rem;
}

.login-signup {
    grid-column: 4/7;
}

.login-signup ul {
    height: 100px;
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    align-items: center;
    justify-content: flex-end;
}

.login-signup ul li {
    text-align: right;
}

.login-signup .hamburger-menu {
    display: none;
}

.login-signup ul li a {
    color: white;
    font-size: 1.6rem;
}

.login-signup ul li:first-child {
    grid-column: 2/3;
}

/*Responsive*/

@media (max-width: 1080px) {
    .main-nav {
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }

    .logo,
    .nav-links ul,
    .login-signup ul {
        height: 8rem;
    }
}

/* responsive css style  */
@media (max-width: 998px) {
    .main-nav {
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }

    .nav-links {
        display: none;
    }

    .logo,
    .login-signup ul {
        height: 7rem;
    }

    .mobile-nav-link {
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }

    .mobile-nav-link {
        background-color: white;
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
        transform-origin: top;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .mobile-nav-link ul {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: start;
    }

    .mobile-nav-link ul li:first-child {
        transition-delay: 0.2s;
    }

    .login-signup {
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;
    }

    .login-signup .ls-desktop {
        height: 0;
        display: none;
    }

    .login-signup {
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .login-signup .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 798px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }

    .logo,
    .login-signup ul {
        height: 6rem;
    }

    .login-signup {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .login-signup .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .main-nav {
        height: 6rem;
        grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }

    .logo,
    .login-signup ul {
        height: 6rem;
    }

    .logo h2 {
        font-size: 2rem;
    }

    .login-signup {
        height: 6rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }

    .login-signup .hamburger-menu {
        display: block;
        font-size: 2.5rem;
    }

    .main h1 {
        font-size: 3.8rem;
    }
}

