span {
    font-size: 19px;
}

.button {
    margin-left: 84.4%;
    margin-top: -5%;
    margin-bottom: 3%;
}

th, td {
    font-size: 22px;

}

.modal-content {
    width: 500px;
}

.search-bar {
    margin-top: -5%;
}

@media (max-width: 500px) {
    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }

}

@media (max-width: 1170px) {
    .button {
        margin-left: 79%;
    }

}

@media (max-width: 988px) {
    .button {
        margin-left: 72%;
        margin-bottom: 8%;
    }

}

@media (max-width: 767px) {
    .button {
        margin-left: 62%;
        margin-bottom: 11%;
    }

}

@media (max-width: 521px) {
    .button {
        margin-left: 60%;
    }
}

@media (max-width: 412px) {
    .button {
        margin-left: 50%;
    }
}

@media (max-width: 375px) {
    .button {
        margin-left: 44.3%;
    }
}