a {
    margin-left: 20px;
}

h2 {
    margin-top: 17px;
    margin-left: 50px;
    text-align: center;
    position: fixed;
    color: white;
}

.side-bar {
    position: fixed;
    width: 95%;
    height: 100%;
}

.ksp {
    background-color: #3f51b5;
    color: white;
    height: 56px;
    width: 160px;
    text-align: center;
    position: fixed;
    border-radius: 5px;
    margin: -95px 90px 55px;
}

.nav-toggle {
    background-color: white;
    height: 670px;
    width: 272px;
    position: fixed;
    margin-top: -6px;
    margin-left: 30px;

}

.nav-text {
    display: flex;
    padding: 8px 0 8px 16px;
    height: 60px;
    align-items: center;
    justify-content: start;
    list-style: none;
}

.nav-text a {
    font-size: 18px;
    width: 69%;
    height: 100%;
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 0 16px;
    border-radius: 5px;

}

.nav-text a:hover {
    color: #3f51b5;
}

.nav-text a:focus, a:active {
    color: #3f51b5;
    background-color: #f5f5fb;
    font-weight: bold;
}

span {
    margin-left: 60px;
}


